@CHARSET "UTF-8";
/*web background*/
.all {  
    margin:0px auto;  
    width:800px; /* 必须制定宽度 */  
    height:100%; 
}  
.content {
    position: absolute;
    top: 50%;
    height: 50px;
    margin-top: -60px; /* negative half of the height */
}
.index_search {
	cursor: pointer;
}
h4 {
	font-family: '微软雅黑';
}
.form_reachieve {
	margin-left: auto;
	margin-right: auto;
	display: block;
	float: none;
	width: 400px;
	height: 245px;
	border: 1px solid #000;
}